/* Input styles */
.create-user-input-field input {
    margin: 5px 0;
    padding: 0px;
    height: 35px;
    width: 100%;
    font-size: 16px;
    color: #333;
    background-color: #f7f9fc;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

/* Other styles remain unchanged */
.create-user-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff; /* Fondo más claro para el contenedor */
}

.create-user-form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px; /* Bordes redondeados para el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para elevar el formulario */
    width: 75vw;
    height: auto;
    margin-top: 50px;
}

.create-user-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.create-user-logo-container img {
    width: 100px; /* Ancho del logo */
}

.create-user-logo-separator {
    height: 2px;
    background-color: #007acc; /* Color del separador */
    width: 100%;
    margin: 20px 0;
}

.create-user-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para los inputs */
    gap: 15px; /* Espacio entre los inputs */
}

.auth-form-input-username {
    background-color: #e0e0e0; /* Fondo específico para username */
    border: 1px solid #007acc; /* Borde específico para username */
    max-width: 10px;
}

.auth-form-input-password {
    background-color: #f0f0f0; /* Fondo específico para password */
    border: 1px solid #007acc; /* Borde específico para password */
    max-width: 10px;
}

.create-user-button {
    width: 100%;
    background-color: #007acc; /* Color de fondo del botón */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados para el botón */
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición para efecto hover */
}

.create-user-button:disabled {
    background-color: #b0c4de; /* Color del botón cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}

.create-user-button:hover:not(:disabled) {
    background-color: #005f8f; /* Color al pasar el mouse por encima */
}

.create-user-switch-label {
    display: block;
    margin-top: 10px;
    color: #007acc; /* Color del texto de cambio */
    cursor: pointer;
    text-align: center; /* Centrar el texto */
}
