.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f7fa;
}

.login-container,
.register-container {
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(5, 5, 5, 0.1);
}

.register-container {
  height: auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}

.auth-form input {
  margin: 5px 0;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  font-size: 16px;
  color: #333;
  background-color: #f7f9fc;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.auth-form input:focus {
  border-color: #00acc1;
}

.auth-form button:disabled {
  background-color: #b0c4ff;
  cursor: not-allowed;
}

.auth-form-label {
  width: 100%;
  font-weight: 500;
  margin-top: 1%;
}

.auth-logo-container {
  display: flex;
  font-family: 'Plus Jakarta Sans', sans-serif;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logoGobE {
  max-width: 100%;
  min-height: 150%;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.auth-form-switch-label {
  color: #00acc1;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
  text-decoration: none;
}

.auth-form-switch-label:hover {
  text-decoration: underline;
}

.auth-form-validations-message {
  font-size: 14px;
  color: red;
  margin-top: 5px;
  width: 100%;
  height: 20px; /* Mantener una altura fija */
  visibility: hidden; /* Ocultar inicialmente */
}

.auth-form-validations-message.show {
  visibility: visible; /* Mostrar cuando hay error */
}

.logo-separator {
  display: flex;
  margin: 10px 0;
  height: 2px;
  width: 100%;
  background-color: #030e2e;
}

.input-container {
  width: 90%;
  margin: 0;
  position: relative; /* Asegura que el mensaje esté dentro del contenedor */
}

.input-container input {
  width: 100%;
  height: 50px;
  margin-bottom: 5px; /* Añadir espacio para el mensaje de error */
}

/* From Uiverse.io by zjssun */
/* From Uiverse.io by zjssun */ 
.login-button {
  position: relative;
  font-family: 'Plus Jakarta Sans', sans-serif;
  width: 30%;
  font-size: 20px;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0d2366;
  transition: all 0.2s ease;
}

.login-button:active {
  transform: scale(0.96);
}

.login-button:before,
.login-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.login-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #102a79 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #102a79 20%, transparent 30%),
    radial-gradient(circle, #102a79 20%, transparent 20%),
    radial-gradient(circle, #102a79 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #102a79 15%, transparent 20%),
    radial-gradient(circle, #102a79 20%, transparent 20%),
    radial-gradient(circle, #102a79 20%, transparent 20%),
    radial-gradient(circle, #102a79 20%, transparent 20%),
    radial-gradient(circle, #102a79 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.login-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #030e2e 20%, transparent 20%),
    radial-gradient(circle, #030e2e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #030e2e 15%, transparent 20%),
    radial-gradient(circle, #030e2e 20%, transparent 20%),
    radial-gradient(circle, #030e2e 20%, transparent 20%),
    radial-gradient(circle, #030e2e 20%, transparent 20%),
    radial-gradient(circle, #030e2e 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}