@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.dashboard-container {
  display: flex;
  flex-direction: column;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f3f3;
  color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  background-color: #4dc4c1;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 100px;
  width: auto;
}

.form-container-title__logo {
  display: flex;
}

.title-logo-container {
  display: flex;
  width: 500px;
  font-size: 25px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  align-items: center;
  margin-left: 2%;
  cursor: pointer;
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-center button {
  width: 15vw;
  margin: 0 20px;
  padding: 8px 16px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar-center button:hover {
  text-decoration: underline;
  color: white;
  border-radius: 5px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

/* Botón del Dropdown */
.dropbtn {
  background-color: #030e2e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Contenedor del Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Contenido del Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

/* Links del Dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

/* Hover de los Links del Dropdown */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Hover del Dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Hover del Botón del Dropdown */
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

.logout-container {
  background-color: red;
  cursor: pointer;
}

.logout-container:hover {
  background-color: rgb(255, 51, 51);
}

.logout-container input {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 5px 25%;
  font-size: 20px;
}

.content {
  padding-top: 100px;
  padding-left: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
