.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .input-group {
    display: flex;
    gap: 20px;
  }
  