@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;700;800&display=swap');

body {
  background-color: #004080;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

/* Estilos del navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 15px;
  color: #000;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28A745;
  padding: 10px 20px;
  border-radius: 20px;
  width: 90%;
  margin: 20px auto;
  color: white;
}

.header-item {
  text-align: center;
}

.header-bar label {
  font-size: 0.8rem;
  color: #f3f3f3;
}

.user-card {
  background-color: #C82333;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  flex-direction: column;
  text-align: center;
}

.user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #ffffff;
}

.user-info {
  color: #ffffff;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.user-email {
  font-size: 0.9rem;
  color: #d1d1d1;
  margin-bottom: 10px;
}

.attendance-button {
  background-color: white;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
